*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

body{
    background-color: #e7e7e7;
    padding-top: 100px; /*espaçamento da parte de cima do site*/

}

header{
    display: flex; /*deixa os elementos do cabeçalho um do lado do outro*/
    align-items: center; /*deixa os itens centralizados na vertical*/
    margin-bottom: 40px;
}

header img{
    height: 36px;
    margin-right: 16; /*aplica margem a direita*/ 
}

header h1{
    font-size: 40px;
    font-weight: bold;
}

.container{
    max-width: 960px;
    width: 100%;    /*essa parte do container quer dizer que ele vai acupar 100% da página até 960px, pra não ficar de ponta a ponta*/
    margin: 0 auto;
}

form{
    display: flex; /*os itens já estão um ao lado do outro, mas com o display flex voce garante que eles fiquem todos alinhados */
    max-width: 640px;
    width: 100%;
    justify-content: space-between; /*distribuii espaçamento entre os itens*/
    margin-bottom: 56px; /*margem entre o formulario e a tabela*/
}

form input{
    font-size: 24px;
    background-color: white;
    border: none;
    border-bottom: 2px solid black;
    padding: 8px;
}

form button{
    background-color: green;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
}

table{
    width: 100%;
}

table th{
    border-bottom: 2px solid black;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table td{
    padding: 16px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

table td img{
    height: 30px;
}

.resultado{
    padding: 8px;
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 3px; /*deixa a borda arredondada*/
}

.aprovado{
    background-color: green;
}

.reprovado{
    background-color: red;
}