*{
    margin: 0;
    padding: 0;                         
    box-sizing: border-box;
}

.lilita-one-regular
header,
section h2,
section h3,
form button {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body, input, textarea{
    font-family: 'Times New Roman', Times, serif;
}

header{
    padding: 30px;
    background-color: rgba(237, 54, 8, 0.323);
    color: black;
    display: block;
}

header nav li{
    display: inline;
    margin-left: 30px;
    font-size: 18px;
    
}

.logo{
    height: 100px;
}

header nav li a{
    color: black;
    text-decoration: underline;
}

section{
    text-align: center;
    display: block;
    padding: 20px;
    line-height: 50px;
}

footer{
    background-color: rgba(237, 54, 8, 0.323);
    color: black;
    padding: 16px 0;
    text-align: center;
}

form input,
form textarea,
form button{
    display: grid;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

#contact{
    display:block;
    justify-content: space-between;

}

.contact-methods, h3{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.social-links li{
    display: inline;
    margin-right: 8px;
}

.social-links img{
    height: 24px;
}

.social-links li{
    display: inline;
    margin-right: 8px;
}

.social-links li a{
    text-decoration: none;
}



